<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-cHiuB8LS4_dKGT4KUu6xo_3tG6Jn9n4</string>
	<key>GCM_SENDER_ID</key>
	<string>15582756414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.terapiyaCenter</string>
	<key>PROJECT_ID</key>
	<string>terapiyacenter-b09dc</string>
	<key>STORAGE_BUCKET</key>
	<string>terapiyacenter-b09dc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15582756414:ios:c535df5eb1b139edff9b6f</string>
</dict>
</plist>